{% extends 'base.html' %}

{% block title %} {{ college.title }} {% endblock %}

{% block content %}

<div class="card">
	<div class="card-body">
		<img src="{{ college.logo_url }}">
		<a href="{{ college.url }}"><h3 class="card-title">{{ college.title }}</h3></a>

        <address>
            {{ college.city }}, {{ college.state }}
        </address>

		{% if college.college_image_url %}
		<img height="150" width="250" class="float-left" src="{{ college.college_image_url }}">
		{% endif %}
		<p>{{ college.description }}</p>

		<dl>
			{{ dl_item("Type", college.type.name | title | replace("_", " ") | replace("uni", "university")) | safe }}
			{{ dl_item("Established In", college.established_in) | safe }}
			{{ dl_item("Rating", college.rating) | safe }}
			{{ dl_item("Reviews", college.n_reviews) | safe }}
			{{ dl_item("NIRF Ranking", college.nirf) | safe }}

			{% if college.fee_start != college.fee_end %}
			{{ dl_item("Tuition Fee", college.fee_currency.name + ' ' + ([college.fee_start | round | int] | join('')) + ' - ' + ([college.fee_end | round | int] | join(''))) | safe }}
			{% elif college.fee_start %}
			{{ dl_item("Tuition Fee", college.fee_currency.name + ' ' + ([college.fee_start | round | int] | join(''))) | safe }}
			{% endif %}

			{% if college.foreign_exchange %}
			{{ dl_item("Foreign Exchange", "Yes") | safe }}
			{% endif %}

			{% if college.financial_assistance %}
			{{ dl_item("Financial Assistance", "Yes") | safe }}
			{% endif %}

			{{ dl_item("Total Courses", college.n_courses) | safe }}
			{{ dl_item("Total Intake", college.total_intake) | safe }}
			{{ dl_item("Student Faculty Ratio", college.sf_ratio) | safe }}
			{{ dl_item("Gender Ratio", college.g_ratio) | safe }}
			{{ dl_item("Total Faculty", college.n_faculty) | safe }}
		</dl>

        <form method="post">
            <div class="form-group row">
                <label for="inputCity" class="col-sm-2 col-form-label"><strong>City:</strong></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputCity" name="city" value="{{ college.city }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputState" class="col-sm-2 col-form-label"><strong>State:</strong></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputState" name="state" value="{{ college.state }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update location</button>
        </form>
	</div>
</div>

{% endblock %}