{% extends 'base.html' %}

{% block title %} Title {% endblock %}

{% block content %}
<div class="mt-3 mb-4">
	<form>
		<div class="row">
			<div class="col">
				<span style="font-size: larger">Colleges found: {{ n_colleges }}</span>
			</div>
			<div class="col col-md-3">
<!--				<label for="inputCityState">Search by City or State</label>-->
				<input name="cityState" list="cityState" id="inputCityState" class="form-control" type="search" placeholder="City or State">
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
		<datalist id="cityState">
			{% for cityState in cityStates %}
			<option value="{{ cityState }}"></option>
			{% endfor %}
		</datalist>
	</form>
</div>
{% for c in colleges %}
<div class="card">
	<div class="card-body">
		<img src="{{ c.logo_url }}">
		<a href="{{ c.url }}"><h3 class="card-title">{{ c.title }}</h3></a>

		<a href="{{ url_for('edit', college_id=c.id) }}">
            <address>
                {{ c.city }}, {{ c.state }}
            </address>
        </a>

		{% if c.college_image_url %}
		<img height="150" width="250" class="float-left" src="{{ c.college_image_url }}">
		{% endif %}
		<p>{{ c.description }}</p>

		<dl>
			{{ dl_item("Type", c.type.name | title | replace("_", " ") | replace("uni", "university")) | safe }}
			{{ dl_item("Established In", c.established_in) | safe }}
			{{ dl_item("Rating", c.rating) | safe }}
			{{ dl_item("Reviews", c.n_reviews) | safe }}
			{{ dl_item("NIRF Ranking", c.nirf) | safe }}

			{% if c.fee_start != c.fee_end %}
			{{ dl_item("Tuition Fee", c.fee_currency.name + ' ' + ([c.fee_start | round | int] | join('')) + ' - ' + ([c.fee_end | round | int] | join(''))) | safe }}
			{% elif c.fee_start %}
			{{ dl_item("Tuition Fee", c.fee_currency.name + ' ' + ([c.fee_start | round | int] | join(''))) | safe }}
			{% endif %}

			{% if c.foreign_exchange %}
			{{ dl_item("Foreign Exchange", "Yes") | safe }}
			{% endif %}

			{% if c.financial_assistance %}
			{{ dl_item("Financial Assistance", "Yes") | safe }}
			{% endif %}

			{{ dl_item("Total Courses", c.n_courses) | safe }}
			{{ dl_item("Total Intake", c.total_intake) | safe }}
			{{ dl_item("Student Faculty Ratio", c.sf_ratio) | safe }}
			{{ dl_item("Gender Ratio", c.g_ratio) | safe }}
			{{ dl_item("Total Faculty", c.n_faculty) | safe }}
		</dl>
	</div>
</div>
{% endfor %}

{% endblock %}